<h1>This is the secret page!</h1>

<p>You found me!</p>

<img src="https://www.google.co.za/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjchtec-dnXAhVTlxQKHZeSCJsQjRwIBw&url=http%3A%2F%2Fwww.tridanim.com%2Fpics-of-funny-looking-dogs_funny-looking-dog-breeds-funny-animal_11.html&psig=AOvVaw3jya5jJt4gwg1b3qqz0e-5&ust=1511706901216686"> 

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>