<% include partials/header %>

<link rel="stylesheet" href="app.css">

<h1>This is the home page!</h1>

<img src="https://i.barkpost.com/wp-content/uploads/2015/04/husky.jpg?q=70&fit=crop&crop=entropy&w=808&h=500">

<% include partials/footer %>